/*TITULOS ABOUT*/
#tituloPrimero{
    text-align: center;
    font-family: $font-titulos;
    font-size: 70px;
    padding: 40px;
    margin-bottom: 10px;
    color: white;
 }
 
 #textoSobreNosotros{
 margin-left: 60px;
 color: white;
 font-family: $font-textos;
 font-size: 16px;
 }
 
 #bloqueSobreNosotros{
     background-color: $color_principal_claro;
     margin-top: 100px;
 }
 
 #tituloSegundo{
     text-align: center;
        font-family: $font-titulos;
        font-size: 70px;
        margin-bottom: 10px;
        padding: 40px;
        color: black;
     }
 
 #section{
     margin-left: 60px;
     height: 300px;
     color:black;
     font-family: $font-textos;
     font-size: 16px;  
     }
 
 #parrafoDosCatarsis{
     margin-top: 20px;
 }
 
 #parrafoTresCatarsis{
     margin-top: 20px;
 }
 
 #parrafoCuatroCatarsis{
     margin-top: 20px;
 }
 
 #queEstasEsperando{
     margin-bottom: 50px;
     font-size: 25px;
     font-family: $font-titulos;
     text-align: center;
     background-color: $color_principal_claro;
     color: white;
     padding: 20px;
     transition-delay: 4s;
 }
 
 #logoFooter{
     display: flex;
     justify-content: flex-start;
 }
 
 #footerGeneral{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     flex-wrap: nowrap;
     margin-top: 50px;
     margin-right: 60px;
     margin-left: 60px;
     margin-bottom: 20px;
 }
 
 #copyright{
     margin-top: 10px;
     margin-bottom: 20px;
     margin-left: 30px;
 }
 
 #principioPagina{
     text-decoration: none;
 }
 
 /*RESPONSIVE ABOUT*/
 
 
 @media screen and (max-width: 768px){
 
 #encabezado1{
       display: none;
 }
 
 #encabezadoMobile{
     background-color: white;
     max-width: 100%;
     margin-top: 40px;
     text-align: center;
     justify-content:center;
     
 } 
 
 #tituloMobile{
     display: flex;
     justify-content: center;
     font-family: $font-titulos;
     font-size: 30px; 
     font-weight: bold;
     margin-top: 40px;
 }
 
 #decoracionMobile{
     text-decoration: none;
     color: black;
 }
 
 #sobreNosotros {
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: 15% auto;
     grid-template-areas: "tituloPrimero" "textoSobreNosotros" ;
     row-gap: 20px;  
 }   
 
 #porqueCatarsis {
     display: grid;
     height: 580px;
     grid-template-columns: auto;
     grid-template-rows: 20% auto;
     grid-template-areas: "tituloSegundo" "sectionPorqueCatarsis";
     row-gap: 20px;  
 }   
 
 #tituloPrimero {
     font-size: 55px;
     padding: 15px;
     margin-bottom: 5px;
     text-align:center;
 }
 
 #tituloSegundo {
     font-size: 45px;
     padding: 20px;
     margin-bottom: 5px;
     margin-top: 20px;
     text-align: center;
 }
 
 #textoSobreNosotros,
 #section{
     font-size: 14px;
     text-align:justify;
     margin-right: 60px;
 }
 
 #section{
     margin-top: 15px;
 }
 
 #fotoSobreNosotros,
 #fotoPorqueCatarsis {
     display: none;
 }
 
 #queEstasEsperando,
 #copyright{
     font-size: 12px;
 }
 
 
 #logoFooter, 
 #principioPagina{
 display: none;
 }  
 
 }
 @media screen and (min-width: 1000px) and (max-width: 1099px){
    #tituloMobile{
        display: none;
    }
 }

 @media screen and (min-width: 300px) and (max-width: 429px){
    #fotoEncabezado{
        display: none;
    }
 }
 @media screen and (min-width: 990px) and (max-width: 1099px){
    #decoracionMobile{
        display: none;
    }
 }
 
 @media screen and (min-width: 430px) and (max-width: 768px){
     
     #fotoEncabezadoMobile{
         display: none;
     }
     
        #fotoEncabezadoMobile{
            display: none;
        }

     #encabezado1{
         display: flex;
         justify-content: center;
         background-color: white;
         width: 95%;
         height:70%;
         margin-top: 60px;
         z-index: 0;
         }
    }     
 
 /*GRILLA SOBRE NOSOTROS*/
 
 @media screen and (min-width: 769px) {
     
 #encabezadoMobile{
     display: none;
 }
 
 #tituloMobile{
     display: flex;
     justify-content: center;
     font-family: $font-titulos;
     font-size: 30px; 
     font-weight: bold;
     margin-top: 40px;  
 }
 
 #decoracionMobile{
     text-decoration: none;
     color: black;
 }
 
 #encabezado1{
     display: block;
 }
 
 
 #fotoSobreNosotros,
 #fotoPorqueCatarsis{
     display: none;
 }
 
 #logoFooter, 
 #principioPagina{
 display: block;
 }  
 
 
 #tituloPrimero {
     font-size: 55px;
     padding: 15px;
     margin-bottom: 5px;
     text-align:center;
 }
 
 #tituloSegundo {
     font-size: 45px;
     padding: 20px;
     margin-bottom: 5px;
     margin-top: 20px;
     text-align: center;
 } 
 
 #sobreNosotros {
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: 15% auto;
     grid-template-areas: "tituloPrimero" "textoSobreNosotros" ;
     row-gap: 20px; 
     margin-top: 2%; 
     margin-right:10%;
 }   
     
 #porqueCatarsis {
     display: grid;
     height: 580px;
     grid-template-columns: auto;
     grid-template-rows: 20% auto;
     grid-template-areas: "tituloSegundo" "sectionPorqueCatarsis";
     row-gap: 20px;  
     margin-right: 2%;
 }   
 }
 
 @media screen and (min-width: 1100px){
     #fotoSobreNosotros,
     #fotoPorqueCatarsis{
         display: block;
     }
 
     #tituloMobile{
         display: none;
     }
 
     #textoSobreNosotros,
     #section{
         font-size: 18px;
         text-align:justify;
         margin-right: 60px;
     }
     
     #section{
         margin-top: 15px;
     }
 
     #sobreNosotros{
         display: grid;
         height: 900px;
         grid-template-columns: 60% auto;
         grid-template-rows: 20% auto;
         grid-template-areas: "tituloPrimero tituloPrimero" "textoSobreNosotros fotoSobreNosotros";
         column-gap: 20px;
         row-gap: 20px; 
         justify-items: center;
     }
 
     #porqueCatarsis{
         display: grid;
         height: 550px;
         grid-template-columns: 60% auto;
         grid-template-rows: 20% auto;
         grid-template-areas: "tituloSegundo tituloSegundo" "sectionPorqueCatarsis fotoPorqueCatarsis";
         column-gap: 20px;
         row-gap: 20px; 
         justify-items: center;
         margin-bottom: 80px;
         margin-top: 40px;
     }
 
     #tituloPrimero {
         font-size: 70px;
         padding: 15px;
         margin-bottom: 5px;
         margin-top: 20px;
         text-align:center;
     }
     
     #tituloSegundo {
         font-size: 70px;
         padding: 20px;
         margin-bottom: 5px;
         margin-top: 20px;
         text-align: center;
     }
   
 }
 
 
 /*GRILLA ABOUT*/
 
 section #tituloPrimero{
     grid-area: tituloPrimero;
 }
 
 section #textoSobreNosotros{
     grid-area: textoSobreNosotros;
     align-items: flex-start;
 }
 
 section #fotoSobreNosotros{
     grid-area: fotoSobreNosotros;
 }
 
 section #bloquePorqueCatarsis{
     grid-area: bloquePorqueCatarsis;
 }
 
 section #tituloSegundo{
     grid-area: tituloSegundo;
 }
 
 section #section{
     grid-area: sectionPorqueCatarsis;
 }
 
 section #fotoPorqueCatarsis{
     grid-area: fotoPorqueCatarsis;
    
 }
 
 section #bloqueQueEstasEsperando{
     grid-area: bloqueQueEstasEsperando;
 }
 
 footer{
     grid-area: footer;
 }
 
 /*FOOTER GENERAL*/
 footer{
     height: 150px; 
 }
 #espacio{
     height: 5px;
     background-color: $color_principal;
 }