$color_principal: #7B002C;
$color_principal_claro: #832042;
$color_secundario: white;
$font-principal: 'Gentium Book Plus', serif;
$font-titulos:'Quattrocento', serif;
$font-textos:'Gentium Book Plus', serif;