* {
    margin: 0;
    padding: 0;
}

@import "variables"; 
@import "index"; 
@import "about";
@import "shop"; 
@import "menu"; 
@import "envios"; 
@import "contact"; 




/*MENU DE LOS HTML con logo*/
#fotoLogo{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

#menuDesplegable{
    width: 194px;
    margin-top: 0%;
}

.dropdown-menu{
    width: 195px;
}


/*ENCABEZADO FOTO de los html*/
#encabezado1{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 95%;
    height:70%;
    margin-top: 60px;
    z-index: 0;
    
}

@media screen and (min-width: 300px) and (max-width: 429px){
    #fotoEncabezado{
        display: none;
    }
 }